nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul a {
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    color: inherit;
}

nav ul a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
}

div.background__pattern {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(to right, #d1d5db 1px, transparent 1px), linear-gradient(to bottom, #d1d5db 1px, transparent 1px);
    background-size: 32px 32px;
    -webkit-mask-image: radial-gradient(ellipse 80% 80% at 100% 0%, #000 50%, transparent 90%);
    mask-image:
        radial-gradient(ellipse 80% 80% at 100% 0%, #000 50%, transparent 90%)
}


section.intro {
    padding: 2em;
}

section.conversation {
    padding: 0 3em 0 1em;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}


/* https://patterncraft.fun/ */


.chat-widget {
    flex-grow: 1;
    display: flex;
    min-width: 100%;
    min-height: 500px;
    background: #f9fafb;
    border-radius: 1em;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.chat-widget__chat-history {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-widget__message-input {
    border-top: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    box-sizing: border-box;
}

.chat-widget__message-input>textarea {
    flex-grow: 1;
    box-sizing: border-box;
    background: initial;
    border: 0;
    resize: none;
    outline: 0;
}

.chat-widget__message-input button {
    border: 0;
    background: initial;
}

.chat-widget__chat-message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 16px;
    margin: 8px;
    box-sizing: border-box;
    background-color: #e5e7eb;
}

.chat-widget__chat-message--user {
    align-self: flex-end;
    background-color: #3b82f6;
    color: white;
}

.chat-widget__chat-message--bot {
    align-self: flex-start;
    background-color: #e5e7eb;
    color: black;
}




@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    section.intro {
        padding: 0 1em;
    }

    section.conversation {
        padding: 0 1em 0.5em;
        max-height: 50vh;
    }

    div.background__pattern {
        -webkit-mask-image: radial-gradient(ellipse 85% 70% at 100% 100%, #000 50%, transparent 90%);
        mask-image:
            radial-gradient(ellipse 85% 70% at 100% 100%, #000 50%, transparent 90%)
    }

    .chat-widget {
        min-height: unset;
    }

    .intro h1 {
        margin: 0;
    }


}