:root {
  --text-color: #e5e7eb;
  --bg-color: #111827;
  --chat-bubble-user: #2563eb;
  --chat-bubble-bot: #374151;
  --chat-borders: #374151;
  --background-pattern-color: #4b5563;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

a,
button {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --text-color: #0c385e;
    --bg-color: #f9fafb;
    --chat-bubble-user: #3b82f6;
    --chat-bubble-bot: #e5e7eb;
    --chat-borders: #e5e7eb;
    --background-pattern-color: #d1d5db;
  }
}